apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: logmind-backend:latest
          imagePullPolicy: Never
          env:
            - name: DATABASE_URL
              value: "postgresql://user:password@db:5432/logmind"
            # In production, use a Secret for the API Key
            - name: OPENAI_API_KEY
              value: "your_openai_key_here"
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: LoadBalancer
